

{% extends 'base.html' %}
{% block content %}

<div class="content">
    <div class="">
        <div class="page-header-title">
            <h4 class="page-title">Reservas</h4>
        </div>
    </div>

    <br>

    <div class="page-content-wrapper">
        <div class="container">
            <!-- Content page -->

            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table table-hover">
                        <thead>
                        <tr style="color:#0E2EB0">
                            <th font color="red">Usuario</th>
                            <th>Fecha de inicio</th>
                            <th>Fecha de finalización</th>
                            <th>Ocupados</th>	
                        </tr>
                        </thead>
                        <tbody>
                        {% for x in reservas_list %}
                        <tr>
                            <td>{{ x.usuario.nombre }}</td>
                            <td>{{ x.fecha_inicio }}</td>
                            <td>{{ x.fecha_fin }}</td>
			    <td>{{ x.ocupados.all|join:", " }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    <div style="text-align:center;">
                        <button type="button" class="btn btn-primary waves-effect waves-light"
                                onClick=" window.location.href='/nidoo/' ">
                            Back
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
