{% extends 'base.html' %}
{% block content %}

<div class="content">
    <div class="">
        <div class="page-header-title">
            <h4 class="page-title">Usuarios</h4>
        </div>
    </div>

    <br>

    <div class="page-content-wrapper">
        <div class="container">
            <!-- Content page -->

            <div class="panel panel-default">
                <div class="panel-body">

		   {% if role == "Admin" %} 
                   <table class="table table-hover">
                        <thead>
                        <tr style="color:#0E2EB0">
                            <th font color="red">Nombre</th>
                            <th>Documento</th>
                            <th>Correo</th>
                            <th>Edad</th>
			    <th>Tipo</th>	
                        </tr>
                        </thead>
                        <tbody>

                        {% for x in usuarios_list %}
                        <tr>
                            <td>{{ x.nombre }}</td>
                            <td>{{ x.n_documento }}</td>
                            <td>{{ x.correo }}</td>
                            <td>{{ x.edad }}</td>
			    <td>{{ x.tipo }}</td>
                        </tr>
                        {% endfor %}

                        </tbody>
                    </table>

		    {% else %}

		    <h2> Usuario no autorizado</h2>

		    {% endif %}

                    <div style="text-align:center;">
                        <button type="button" class="btn btn-primary waves-effect waves-light"
                                onClick=" window.location.href='/nidoo/' ">
                            Back
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
